/////////////////////////////////
//BUTTON

.main__container {
  height: 10rem;
  width: 100%;
  display: flex;
  align-items: center;

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
    height: 14rem;
    justify-content: space-evenly;
  }

  &-button {
    margin: 0 auto;
    font-family: inherit;
    font-size: 1.2rem;
    color: $color-grey-dark-3;
    border: none;
    padding: 0.7rem 5rem;
    border-radius: 100px;
    //width: 100%;
    cursor: pointer;

    @media only screen and (max-width: $bp-largest) {
      font-size: 1.4rem;
    }

    @media only screen and (max-width: $bp-medium) {
      //margin-top: 3rem;
    }
  }

  &-royal {
    position: absolute;
    right: 2rem;
    top: 2rem;
    width: 10%;
    padding: 0.7rem 1rem;

    @media only screen and (max-width: $bp-medium) {
      margin-top: 0rem;

      width: 15%;
    }

    @media only screen and (max-width: $bp-small) {
      right: 1rem;
      top: 1rem;
      width: 20%;
    }
  }

  &-players-selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 35%;

    .text {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  }

  .select {
    width: 6.5rem;
    padding: 5px 35px 5px 5px;
    font-size: 1.6rem;
    border: 1px solid rgb(63, 62, 62);
    border-radius: 6px;
    height: 4rem;
    appearance: none;
    background: url(../img/4_aces_96x96-32_37918.png) 90%;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

/////////////////////////////////
//RESULT HAND

.main__hand {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid $color-gray-light-1;
  border-top: 2px solid $color-gray-light-1;
  @media only screen and (max-width: $bp-medium) {
    width: 100%;
  }

  @media only screen and (max-width: $bp-small) {
    width: 100%;
  }
  &--display-cards {
    display: flex;

    @media only screen and (max-width: $bp-medium) {
      flex-wrap: wrap;
      justify-content: center;
    }

    @media only screen and (max-width: $bp-small) {
      width: 100%;
      flex-wrap: nowrap;
      margin-left: 7rem;
    }

    &-1 {
      @include displayCardScss;
      background-position: 0px center;
      margin-bottom: -5rem;
      @media only screen and (max-width: $bp-small) {
        transform: scale(0.6) rotate(-20deg) translate(8rem, 3.5rem);
      }
    }
    &-2 {
      @include displayCardScss;
      background-position: 0px center;
      margin-bottom: -5rem;
      @media only screen and (max-width: $bp-small) {
        transform: scale(0.6) rotate(-15deg) translate(8rem, -2rem);
      }
    }
    &-3 {
      @include displayCardScss;
      background-position: 0px center;
      margin-bottom: -5rem;
      @media only screen and (max-width: $bp-small) {
        transform: scale(0.6) rotate(0deg) translate(4rem, -5rem);
      }
    }
    &-4 {
      @include displayCardScss;
      background-position: 0px center;
      @media only screen and (max-width: $bp-small) {
        transform: scale(0.6) rotate(15deg) translate(2.5rem, -3rem);
      }
    }
    &-5 {
      @include displayCardScss;
      background-position: 0px center;
      @media only screen and (max-width: $bp-small) {
        transform: scale(0.6) rotate(20deg) translate(1rem, 2rem);
      }
    }
  }

  &--text {
    margin-top: 2rem;
    font-size: 2rem;

    :last-child {
      display: none;
    }
  }
}

.animation {
  animation: drawCard cubic-bezier(0.5, 0, 0.75, 0) 1.5s;
}

@keyframes drawCard {
  0% {
    transform: translateY(-60px);
  }

  50% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(0px);
  }
}

///////////

.hidden {
  display: none;
}
