/////////////////////////////////
//BUTTON

.main__container {
  height: 10rem;
  &-button {
    font-family: inherit;
    font-size: 1.2rem;
    color: $color-grey-dark-3;
    border: none;
    padding: 0.7rem 5rem;
    border-radius: 100px;
    width: 100%;
    cursor: pointer;
  }
}

/////////////////////////////////
//RESULT HAND

.main__hand {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &--display-cards {
    display: flex;
    &-1 {
      @include displayCardScss;
      background-position: 0px center;
    }
    &-2 {
      @include displayCardScss;
      background-position: 0px center;
    }
    &-3 {
      @include displayCardScss;
      background-position: 0px center;
    }
    &-4 {
      @include displayCardScss;
      background-position: 0px center;
    }
    &-5 {
      @include displayCardScss;
      background-position: 0px center;
    }
  }

  &--text {
    margin-top: 2rem;
    font-size: 2rem;
  }
}
