.main {
  max-width: 130rem;
  margin: 8rem auto;
  min-height: 50rem;
}

.main__content {
  height: 50rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#55c57a), to(#28b485));
  background-image: linear-gradient(to right, #55c57a, #28b485);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#f7f7f7), to(#eee));
  background-image: linear-gradient(to right bottom, #f7f7f7, #eee);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.main__container {
  height: 10rem;
}

.main__container-button {
  font-family: inherit;
  font-size: 1.2rem;
  color: #333;
  border: none;
  padding: 0.7rem 5rem;
  border-radius: 100px;
  width: 100%;
  cursor: pointer;
}

.main__hand {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__hand--display-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__hand--display-cards-1 {
  background-color: #fff;
  margin: 1rem;
  height: 21rem;
  width: 15rem;
  background-image: url("../img/deck.png");
  background-position: 0px center;
}

.main__hand--display-cards-2 {
  background-color: #fff;
  margin: 1rem;
  height: 21rem;
  width: 15rem;
  background-image: url("../img/deck.png");
  background-position: 0px center;
}

.main__hand--display-cards-3 {
  background-color: #fff;
  margin: 1rem;
  height: 21rem;
  width: 15rem;
  background-image: url("../img/deck.png");
  background-position: 0px center;
}

.main__hand--display-cards-4 {
  background-color: #fff;
  margin: 1rem;
  height: 21rem;
  width: 15rem;
  background-image: url("../img/deck.png");
  background-position: 0px center;
}

.main__hand--display-cards-5 {
  background-color: #fff;
  margin: 1rem;
  height: 21rem;
  width: 15rem;
  background-image: url("../img/deck.png");
  background-position: 0px center;
}

.main__hand--text {
  margin-top: 2rem;
  font-size: 2rem;
}

.animation {
  -webkit-animation: drawCard cubic-bezier(0.5, 0, 0.75, 0) 1.5s;
          animation: drawCard cubic-bezier(0.5, 0, 0.75, 0) 1.5s;
}

@-webkit-keyframes drawCard {
  0% {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
  }
  50% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes drawCard {
  0% {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
  }
  50% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=main.css.map */